$primary: #51f2e9;
$black-primary: #00262e;
$black: #000;
$black-2: #36363a;
$black-3: #797777;
$white: #fff;
$gray: #dcdcdc;

$font-primary: "Inter", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-title: "Playfair Display SC", sans-serif;
