$primary: #51F2E9;
$secondary: #00262E;
$black: #000;
$black-2: #36363A;
$black-3: #797777;
$white: #fff;


$font-primary: "Inter", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-title: "Playfair Display SC",sans-serif;
