$primary: #51f2e9;
$black-primary: #00262e;
$black: #000;
$black-2: #36363a;
$black-3: #797777;
$black-4: #1E1E1E;
$white: #fff;
$gray: #dcdcdc;
$gray-2: #ecefef;
$blue: #a7c4c6;
$green: #3d5a5c;

$font-primary: "Inter", sans-serif;
$font-secondary: "Raleway", sans-serif;
$font-title: "Playfair Display SC", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-kaisei: "Kaisei Decol", sans-serif;
$font-roboto: "Roboto", sans-serif;

