.hero {
  position: relative;
  height: calc(100vh - 115px);
  height: calc(100dvh - 115px);
  min-height: 500px;
  display: flex;
  flex-direction: column;
  padding: 40px 0 140px;
  margin-top: 115px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: auto;
    &-group {
      display: flex;
      gap: 18px;
      justify-content: center;
    }
  }
  .bg {
    opacity: 0.9;
  }
  h1 {
    text-align: center;
    margin-bottom: 0.9em;
  }
  .autoContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
.about {
  padding: 110px 0 160px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 28px;
    &-row {
      display: flex;
      justify-content: space-between;
    }
    &-content {
      width: calc(56% - 15px);
      max-width: 646px;
    }
    &-image {
      width: calc(44% - 15px);
      max-width: 504px;
      .ratioImage {
        padding-bottom: 79%;
      }
    }
  }
}
.service {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 36px;
    &-row {
      display: flex;
      gap: 28px;
      flex-wrap: wrap;
    }
    &-image {
      width: calc(25% - 21px);
      .ratioImage {
        padding-bottom: 80%;
      }
    }
  }
  .box {
    width: calc(50% - 21px);
    max-width: 540px;
    margin-right: auto;
    h6 {
      color: $primary;
    }
  }
}
.projects {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-header {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      max-width: 650px;
      p {
        font-weight: 300;
      }
    }
    &-body {
      display: flex;
      flex-wrap: wrap;
      margin: -25px -13px;

      li {
        display: flex;
        width: calc(33.33% - 26px);
        margin: 25px 13px;
      }
    }
  }
  &-item {
    position: relative;
    padding-bottom: 110%;
    overflow: hidden;
    width: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.flyer {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    min-height: 50vh;
    padding-bottom: 6vh;

    .logo {
      font-size: 23.5px;
      margin-bottom: 1.9em;
    }

    h4 {
      color: $primary;
      font-family: $font-secondary;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
    }
  }
}
.testimonials {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-row {
      display: flex;
      margin: 0 -13px;
    }
  }
  &__item {
    font-size: 15px;

    width: calc(25% - 26px);
    margin: 0 13px;
    padding: 2.33em 0.53em 2em 1.3em;
    background: $white;

    //display
    display: flex;
    flex-direction: column;
    gap: 1.66em;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 1.66em;

      img {
        width: 1.66em;
        height: auto;
      }
      p {
        font-weight: 300;
        font-size: 14px;
        line-height: 1.4;
        color: $black-primary;
      }
    }
    &-info {
      strong {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
      }
      p {
        color: $black-primary;
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }
  &--reviews {
    background: $white;
    .testimonials {
      &__inner {
        &-row {
          width: calc(100% + 60px);
        }
        &-buttons {
          display: flex;
          gap: 30px;
          justify-content: space-between;
          .button {
            font-size: 20px;
            width: 3.1em;
            height: 3.1em;
            border-radius: 50%;
            background: $gray-2;
            padding: unset;

            &:after {
              display: none;
            }
            .ico {
              position: relative;
              font-size: inherit;
              width: 0.7em;
              height: 0.7em;
              color: $green;
              display: flex;

              svg {
                display: none;
              }
              &:after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                width: 60%;
                height: 60%;
                transform: translate(-50%, -50%) rotate(45deg);
              }
              &::before {
                position: absolute;
                content: "";
                top: 50%;
                right: 0;
                width: 7em;
                height: 2px;
                background: currentColor;
                transition: 0.2s ease;
                transform: translate(0%, -50%);
              }
            }
            &:hover {
              background: rgba($green, 0.2);
            }
            &:active {
              background: rgba($green, 0.4);
              .ico {
                &::before {
                  width: 6em;
                }
              }
            }
            &.swiper-button-disabled {
              opacity: 0 !important;
              pointer-events: none !important ;
            }
            &.swiper-arrow-next {
              .ico {
                &:after {
                  border-top: 2px solid currentColor;
                  border-right: 2px solid currentColor;
                }
              }
            }
            &.swiper-arrow-prev {
              .ico {
                &:after {
                  border-bottom: 2px solid currentColor;
                  border-left: 2px solid currentColor;
                }
                &::before {
                  right: unset;
                  left: 0;
                }
              }
            }
          }
        }
      }
      &__item {
        width: 100%;
        flex-direction: row;
        padding: 30px 54px;
        position: relative;
        background: $black-4;
        margin: unset;
        &-ico {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          position: absolute;
          left: 10px;
          top: 30px;
          img {
            width: 100%;
          }
        }
        &-group {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        &-info {
          display: flex;
          flex-direction: column;
          gap: 20px;
          text-align: center;
          strong {
            font-weight: 500;
            font-size: 18px;
          }

          p {
            font-style: unset;
            font-size: 16px;
            font-weight: 300;
            color: rgba($white, 0.5);
          }
          small {
            position: relative;
            padding-left: 14px;
            margin: 0 auto;
            font-size: 16px;
            font-weight: 300;
            color: rgba($white, 0.5);
            &::before {
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background: $white;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
    h3 {
      color: $black;
      font-family: $font-kaisei;
      margin-bottom: 40px;
    }
  }
}
.subscribe {
  padding: 20px 0 48px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 55px;
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
    }
  }
  &__image {
    width: calc(53% - 20px);
    max-width: 630px;
    .ratioImage {
      padding-bottom: 75%;
    }
  }
  &__form {
    width: calc(47% - 20px);
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 75px;
    h4 {
      font-family: $font-kaisei;
      text-transform: uppercase;
    }
    small {
      font-size: 15px;
      font-family: $font-roboto;
      color: rgba($white, 0.5);
    }
    &-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .button {
        &--primary {
          color: $green;
          font-weight: 700;
          font-family: $font-roboto;
          padding: 1em 2.28em;
        }
      }
    }
    .input--border {
      input {
        border: 1px solid rgba($white, 0.5);
        color: rgba($white, 0.85);
        &::placeholder {
          color: $blue;
        }
        &:focus {
          color: rgba($white, 0.8);
          border-color: $blue;
        }
      }
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 9em;
    margin: 0 auto;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

@mixin index-1160 {
  .hero {
    margin-top: 100px;
    height: calc(100vh - 100px);
    height: calc(100dvh - 100px);
  }
  .about {
    &__inner {
      &-content {
        width: calc(50% - 20px);
      }
      &-image {
        width: 50%;
      }
    }
  }
  .service {
    &__inner {
      &-row {
        gap: 20px 10px;
        align-items: flex-end;
        justify-content: space-between;
      }
      &-image {
        width: calc(25% - 10px);
        &._space {
          display: none;
        }
      }
      .box {
        width: calc(75% - 10px);
        padding-bottom: 2em;
      }
    }
  }
  .projects {
    &__inner {
      &-body {
        margin: -16px -8px;
        li {
          width: calc(33.33% - 16px);
          margin: 16px 8px;
        }
      }
    }
  }
  .testimonials {
    &__inner {
      &-row {
        margin: 0 -8px;
      }
    }
    &__item {
      width: calc(25% - 16px);
      margin: 0 8px;
    }
    &--reviews {
      .testimonials {
        &__inner {
          &-row {
            width: calc(100% + 40px);
          }
        }
      }
    }
  }
  .subscribe {
    &__inner {
      &-row {
        align-items: unset;
      }
    }
    &__image {
      .ratioImage {
        height: 100%;
      }
    }
    &__logo {
      font-size: 18px;
    }
  }
}
@mixin index-1025 {
  .hero {
    margin-top: 85px;
    height: calc(100vh - 85px);
    height: calc(100dvh - 85px);
  }
  .flyer {
    &__inner {
      justify-content: center;
    }
  }
  .subscribe {
    &__form {
      gap: 50px;
    }
  }
  .testimonials {
    &--reviews {
      .testimonials {
        &__inner {
          &-row {
            width: calc(100% + 30px);
          }
        }
      }
    }
  }
}
@mixin index-940 {
  .about {
    &__inner {
      &-row {
        gap: 25px;
        flex-direction: column;
      }
      &-content {
        width: 100%;
        max-width: 700px;
      }
      &-image {
        width: 100%;
        max-width: 600px;
        order: -1;
      }
    }
  }
  .service {
    &__inner {
      &-image {
        width: calc(33.33% - 10px);
      }
      .box {
        width: calc(66.66% - 10px);
      }
    }
  }
  .testimonials {
    &__inner {
      &-row {
        flex-wrap: wrap;
        row-gap: 1em;
      }
    }
    &__item {
      width: calc(50% - 16px);
    }
    &--reviews {
      .testimonials {
        &__inner {
          &-row {
            width: calc(100% + 25px);
          }
        }
        &__item {
          padding: 25px 40px;
          &-ico {
            width: 30px;
          }
        }
      }
    }
  }
  .subscribe {
    &__inner {
      &-row {
        gap: 20px;
      }
    }
    &__image {
      width: calc(53% - 10px);
    }
    &__form {
      gap: 30px;
      width: calc(47% - 10px);
    }
  }
}
@mixin index-768 {
  .hero {
    margin-top: 80px;
    height: calc(100vh - 80px);
    height: calc(100dvh - 80px);
  }
  .subscribe {
    &__inner {
      &-row {
        flex-direction: column;
        gap: 40px;
      }
    }
    &__image {
      width: 100%;
      max-width: 650px;
      margin: 0 auto;
      order: -1;
    }
    &__form {
      gap: 20px;
      width: 100%;
      max-width: 650px;
      margin: 0 auto;
    }
  }
  .testimonials {
    &--reviews {
      .testimonials {
        &__inner {
          &-row {
            width: calc(100% + 15px);
          }
          &-buttons {
            .button {
              .ico {
                &::before {
                  width: 5em;
                }
              }
              &:active {
                .ico {
                  &::before {
                    width: 4em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@mixin index-580 {
  .hero {
    &__inner {
      &-group {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
  .service {
    &__inner {
      gap: 25px;
      &-row {
        gap: 25px 20px;
      }
      &-image {
        width: calc(50% - 10px);
      }
      .box {
        width: 100%;
        padding-bottom: 1em;
      }
    }
  }
  .projects {
    &__inner {
      &-header {
        gap: 20px;
      }
      &-body {
        margin: 0;
        gap: 20px 16px;

        li {
          margin: 0;
          width: calc(50% - 8px);
        }
      }
    }
  }
  .testimonials {
    &__inner {
      &-row {
        row-gap: 0.8em;
      }
    }
    &__item {
      width: 100%;
    }
    &--reviews {
      h3 {
        margin-bottom: 20px;
      }
      .testimonials {
        &__inner {
          &-buttons {
            .button {
              font-size: 18px;
            }
          }
        }
        &__item {
          &-info {
            p {
              font-size: 14px;
            }
            small {
              font-size: 14px;
            }
            strong {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  .subscribe {
    &__inner {
      gap: 30px;
    }
    &__logo {
      font-size: 16px;
    }
  }
}
@mixin index-460 {
  .hero {
    margin-top: 65px;
    height: calc(100vh - 65px);
    height: calc(100dvh - 65px);
  }
  .service {
    &__inner {
      &-row {
        gap: 16px 12px;
      }
      &-image {
        width: calc(50% - 6px);
      }
    }
  }
  .projects {
    &__inner {
      &-body {
        gap: 16px 12px;
        li {
          width: calc(50% - 6px);
        }
      }
    }
  }
}
