@-webkit-keyframes zoomInCenter {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes zoomInCenter {
  from {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  30% {
    opacity: 1;
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes animInUp {
  from {
    -webkit-transform: translateY(10%) scale(0.98);
            transform: translateY(10%) scale(0.98);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes animInUp {
  from {
    -webkit-transform: translateY(10%) scale(0.98);
            transform: translateY(10%) scale(0.98);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.animInUp {
  -webkit-animation-name: animInUp;
  animation-name: animInUp;
}

.zoomInCenter {
  -webkit-animation-name: zoomInCenter;
          animation-name: zoomInCenter;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}