/// section footer
.footer {
  margin-top: auto;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px 40px;
    padding: 110px 0 30px 0;
    &-logo {
      .logo {
        font-size: 29px;
      }
    }
    &-links {
      display: flex;
      justify-content: space-between;
      width: calc(100% - 250px);
      max-width: 885px;
      &-column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
      }

      strong {
        margin-bottom: 1.6em;

        color: $white;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        text-transform: uppercase;
      }
      a {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.7em;
        transition: 0.2s ease-in;

        //font
        color: $black-3;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;

        &:after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          width: 1em;
          opacity: 0;
          height: 1px;
          background: rgba($white, 0.8);
          transition: 0.2s ease-in;
        }

        &:hover {
          color: rgba($white, 0.8);
          &:after {
            width: 97%;
            opacity: 0.8;
          }
        }
        &:active {
          color: rgba($white, 0.6);
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
        .svg {
          width: 0.8em;
          height: 0.8em;
        }
      }
    }
    &-form {
      width: 100%;
      padding: 30px 0;
      border-top: 1px solid $black-2;

      form {
        width: 100%;
      }
      &-content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 25px;
        .input {
          width: 165px;
          &._lg {
            width: unset;
            flex-grow: 1;
            max-width: 545px;
          }
        }
        .button {
          width: 155px;
        }
      }
    }
  }
  &__copyright {
    padding: 15px 0 30px 0;

    color: $black-3;
    font-family: $font-primary;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5;

    ._ico {
      padding: 0 0.3em;

      img {
        position: relative;
        bottom: -0.15em;
        height: 1em;
        width: auto;
      }
    }
    br {
      display: none;
    }
    &._center {
      text-align: center;
    }
  }
  &--sm {
    .footer {
      &__inner {
        padding: 35px 0 24px;
        display: flex;
        flex-direction: column;
        gap: 0;
        p {
          font-size: 15px;
          color: #e2f0f1;
          text-align: center;
          font-family: $font-roboto;
        }
        &-logo {
          .logo {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@mixin footer-1280 {
  .footer {
    &__inner {
      &-logo {
        .logo {
          font-size: 24px;
        }
      }
    }
  }
}
@mixin footer-1160 {
  .footer {
    &__inner {
      &-logo {
        .logo {
          font-size: 20px;
        }
      }
    }
  }
}
@mixin footer-940 {
  .footer {
    &__inner {
      flex-direction: column;
      padding: 60px 0;
      gap: 30px;
      &-logo {
        order: -1;
        align-self: center;
      }
      &-links {
        width: 100%;
      }
      &-form {
        padding: 0 0 30px 0;
        border: unset;
        order: -1;

        &-content {
          align-items: center;
          flex-direction: column;
          max-width: 400px;
          margin: 0 auto;

          .input {
            width: 100% !important;
          }
          .button {
            width: 100%;
          }
        }
      }
    }
    &--sm {
      .footer {
        &__inner {
          gap: 30px;
          &-logo {
            margin-right: auto;
            .logo {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@mixin footer-768 {
  .footer {
    &__inner {
      &-links {
        flex-wrap: wrap;
        gap: 40px 10px;
        max-width: 650px;
        margin: 0 auto;

        &-column {
          width: calc(50% - 5px);
        }
      }
      &-form {
        padding: 0 0 30px 0;
        border: unset;
        order: -1;

        &-content {
          align-items: center;
          flex-direction: column;
          max-width: 400px;
          margin: 0 auto;

          .input {
            width: 100% !important;
          }
          .button {
            width: 100%;
          }
        }
      }
    }
    &__copyright {
      br {
        display: unset;
      }
    }
  }
}
@mixin footer-460 {
  .footer {
    &__copyright {
      font-size: 12px;
    }
  }
}
