.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1;
  transition: 0.2s ease-out;
  transition-property: opacity, transform, padding;
  background: $black;
  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 60px;
    z-index: 2;
    justify-content: space-between;
    .burger {
      display: none;
    }
    &-logo {
      transition: 0.3s ease-in;
      &:hover {
        opacity: 0.85;
      }
      .logo {
        transition: 0.3s ease-in-out;
      }
    }
  }

  &.sticky {
    padding: 15px 0;
    border-bottom: 1px solid rgba($white, 0.2);
    transition-duration: 0.5s;

    .logo {
      font-size: 14px;
    }
  }
}
.nav {
  flex-grow: 1;
  max-width: 960px;

  &__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &-license {
      color: $white;
      font-family: $font-primary;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 1.2;
      text-transform: uppercase;
    }

    &-links {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &-link {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      //font
      color: $white;
      font-family: $font-primary;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 1.2;
      text-transform: uppercase;
      transition: 0.3s ease-out;

      svg {
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.7em;
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 50%;
        height: 1px;
        width: 40%;
        background: $primary;
        opacity: 0;
        transition: 0.3s ease-out;
        transform: translateX(-50%);
      }
      &:hover {
        color: $primary;

        &:after {
          opacity: 1;
          width: 80%;
        }
      }
    }
  }
}
.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: $white;
  background: transparent;
  transition: 0.2s ease;

  span,
  &::after,
  &::before {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transition: all 0.3s ease;
  }
  span {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    content: "";
    top: 0;
    transform: translateX(-50%);
  }
  &::after {
    content: "";
    bottom: 0;
    transform: translateX(-50%);
  }

  &:hover {
    opacity: 0.8;
  }

  &.active {
    color: $primary;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }
    span {
      width: 0;
      opacity: 0;
      transition: 0.2s ease;
    }
  }
}
.anchor {
  opacity: 0;
  position: relative;
  top: -120px;
  &--higher {
    top: -320px;
  }
}

@mixin header-min-1025 {
  .header.sticky {
    .nav {
      &__inner {
        &-link {
          color: rgba($white, 0.6);
          &.active {
            color: $white;

            &:after {
              opacity: 0.8;
              width: 90%;
            }
          }
        }
      }
    }
  }
}
@mixin header-1280 {
  .header {
    &__inner {
      gap: 40px;

      &-logo {
        .logo {
          font-size: 18px;
        }
      }
    }
  }
  .nav {
    max-width: 860px;
  }
}
@mixin header-1160 {
  .header {
    padding: 15px 0;
    &__inner {
      &-logo {
        .logo {
          font-size: 16px;
        }
      }
    }
  }
  .nav {
    &__inner {
      &-license {
        font-size: 12px;
      }
      &-links {
        gap: 10px;
      }
    }
  }
}
@mixin header-1025 {
  .header {
    padding: 15px 0 10px 0;

    &__inner {
      justify-content: space-between;

      &-logo {
        padding-right: 20px;
        border-right: 2px solid rgba($white, 0.27);
        border: 0;
        .logo {
          font-size: 15px;
        }
      }
      .burger {
        display: block;
        z-index: 2;
      }
    }
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, 0.4);
    backdrop-filter: blur(4px);
    z-index: 0;
    transform: translate(100%);
    opacity: 0;
    pointer-events: none;
    transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
    max-width: unset;

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 35%;
      min-width: 280px;
      height: 100%;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: space-between;
      box-sizing: border-box;
      background: $white;
      box-shadow: 0px 4px 24px -1px rgba($black, 0.2);
      padding: 30px 20px;
      transform: translate(-100%);
      opacity: 0;
      transition: 0.15s ease-in-out 0s;

      &-links {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }
      &-license {
        font-size: 14px;
        color: $black;
      }
      &-link {
        color: $black;

        &:after {
          left: 0;
          top: 50%;
          width: 2px;
          height: 80%;
          transform: translateY(-50%);
          opacity: 0;
        }

        &.active {
          &:after {
            opacity: 1;
          }
        }
        &:hover {
          color: $black-primary;
          &:after {
            opacity: 1;
            width: 2px;
            height: 100%;
          }
        }
      }
    }

    &.active {
      pointer-events: all;
      transform: translate(0);
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      .nav__inner {
        opacity: 1;
        transition: 0.3s ease-in-out 0.05s;
        transform: translate(0);
      }
    }
  }
  .anchor {
    top: -100px;
    &--higher {
      top: -220px;
    }
  }
}

@mixin header-940 {
  .anchor {
    top: -90px;
  }
}
@mixin header-768 {
  .header {
    &__inner {
      &-logo {
        .logo {
          font-size: 13px;
        }
      }
    }
  }
  .anchor {
    top: -80px;
  }
}
@mixin header-460 {
  .header {
    &__inner {
      &-logo {
        .logo {
          font-size: 10px;
        }
      }
    }
  }
}
