@media (max-width: 1280px) {
  @include header-1280;
  @include footer-1280;
  @include index-1280;
}
@media (max-width: 1160px) {
  .autoContainer {
    padding: 0 40px;
  }
  @include header-1160;
  @include footer-1160;
  @include typography-1160;
  @include index-1160;
}
@media (min-width: 1025px) {
  @include header-min-1025;
}
@media (max-width: 1025px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include typography-1025;
  @include header-1025;
  @include index-1025;
}
@media (max-width: 940px) {
  .autoContainer {
    padding: 0 25px;
  }
  @include footer-940;
  @include header-940;
  @include index-940;
}
@media (max-width: 768px) {
  .autoContainer {
    padding: 0 15px;
  }
  .section {
    padding: 90px 0 100px;
  }
  @include typography-768;
  @include header-768;
  @include footer-768;
  @include index-768;
}
@media (max-width: 580px) {
  ._hideMob {
    display: none;
  }
  .section {
    padding: 60px 0 80px;
  }
  @include typography-580;
  @include index-580;
}
@media (max-width: 460px) {
  .section {
    padding: 45px 0 60px;
  }
  @include typography-460;
  @include header-460;
  @include footer-460;
  @include index-460;
}
